html {
  --text: rgb(255, 255, 255);
  --primary: rgb(40, 63, 114);
  --secondary: rgb(91, 58, 112);
  --accent: rgb(123, 56, 129);
}

div{
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: BoxOfDoom;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes BoxOfDoom{
  0% {background-color:rgb(255, 0, 0); left:0px; top:0px;}
  25% {background-color:rgb(255, 208, 0); left:100px; top:0px;}
  50% {background-color:rgb(0, 110, 255); left:100px; top:100px;}
  75% {background-color:rgb(0, 17, 255); left:0px; top:100px;}
  100% {background-color:rgb(153, 0, 255); left:0px; top:0px;}
}

p {
  border: 1px solid;
}

body {
  font-family: "UnifrakturMaguntia";
  font-weight: 200;
}

h1 {
  color: var(--accent);
  font-weight: 200;
}

h2 {
  color: var(--secondary);
  font-weight: 200;
}

h3 {
  color: var(--primary);
  font-weight: 200;
}

body {
  animation-name: color-change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

a:link {
  color: rgb(97, 214, 250);
  text-decoration: underline;
}

a:visited {
  color: rgb(129, 129, 129);
  text-decoration: underline;
}

@keyframes color-change {
  0% {
    background-color: #726f85;
  }

  100% {
    background-color: #998e9e;
  }
}