html {
  --text: rgb(255, 255, 255);
  --primary: rgb(0, 81, 255);
  --secondary: rgb(157, 0, 255);
  --accent: rgb(255, 255, 255);
}

button {
  background-color: #c1c7ff; /* Green */
  color: rgb(0, 0, 0);
  padding: 0px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.floatbox {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: floatbox;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: white;
  z-index: 1000;
  transform: scale(3, 3)
}

.boxbiggest-0 {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: BoxOfDoom;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

.boxbiggest-01 {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: BoxOfDoom;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

.boxbiggest-1 {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: BoxOfDoom-1;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

.boxbiggest-11 {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: BoxOfDoom-1;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.boxbiggest-2 {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: BoxOfDoom-2;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

.boxbiggest-21 {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: BoxOfDoom-2;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes BoxOfDoom {
  100% {
    background-color: rgb(255, 0, 0);
    left: 0px;
    top: 0px;
  }

  75% {
    background-color: rgb(255, 208, 0);
    left: 600px;
    top: 0px;
  }

  50% {
    background-color: rgb(0, 110, 255);
    left: 600px;
    top: 600px;
  }

  25% {
    background-color: rgb(0, 17, 255);
    left: 0px;
    top: 600px;
  }

  00% {
    background-color: rgb(153, 0, 255);
    left: 0px;
    top: 0px;
  }
}

@keyframes BoxOfDoom-1 {
  0% {
    background-color: rgb(255, 0, 0);
    left: 100px;
    top: 00px;
  }

  25% {
    background-color: rgb(255, 208, 0);
    left: 500px;
    top: 00px;
  }

  50% {
    background-color: rgb(0, 110, 255);
    left: 500px;
    top: 400px;
  }

  75% {
    background-color: rgb(0, 17, 255);
    left: 100px;
    top: 400px;
  }

  100% {
    background-color: rgb(153, 0, 255);
    left: 100px;
    top: 00px;
  }
}

@keyframes BoxOfDoom-2 {
  100% {
    background-color: rgb(255, 0, 0);
    left: 200px;
    top: -100px;
  }

  75% {
    background-color: rgb(255, 208, 0);
    left: 400px;
    top: -100px;
  }

  50% {
    background-color: rgb(0, 110, 255);
    left: 400px;
    top: 200px;
  }

  25% {
    background-color: rgb(0, 17, 255);
    left: 200px;
    top: 200px;
  }

  0% {
    background-color: rgb(153, 0, 255);
    left: 200px;
    top: 0px;
  }
}

@keyframes floatbox {
  0% {
    backdrop-filter: invert(1);
    left: 100px;
    top: 100px;
  }

  100% {
    backdrop-filter: invert(1);
    left: 500px;
    top: 500px;
  }
}

p {
  border: 1px solid;
}

body {
  font-family: "raleway";
  font-weight: 200;
}

h1 {
  color: var(--accent);
  font-weight: 200;
}

h2 {
  color: var(--secondary);
  font-weight: 200;
}

h3 {
  color: var(--primary);
  font-weight: 200;
}

body {
  animation-name: color-change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

a:link {
  color: rgb(97, 214, 250);
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 89, 255);
  text-decoration: underline;
}

@keyframes color-change {
  0% {
    background-color: #726f85;
  }

  100% {
    background-color: #998e9e;
  }
}